#roundButton {
  background-color: rgb(0, 0, 0,);
  margin: auto;
  width: 50px;
  height: 50px;
  z-index: -1;
  border-radius: 50%;
  border: 10px solid #FFE600;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}
 
#roundButton:hover {
  background-color: #FFE600;
  cursor: pointer;
  border-color: rgb(0, 0, 0,);
  transform: scale(1.2, 1.2);
}
 
#roundButton:active {
  border-color: #FFE600;
  background-color: rgb(0, 0, 0,);
}